@font-face {
  font-family: "Sansation";
  src: url("/Fonts/Sansation-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fox";
  src: url("/Fonts/fox-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sansation-Regular";
  src: url("/Fonts/Sansation-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sansation-Light";
  src: url("/Fonts/Sansation-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sansation-Regular";
  background-color: #f7f7f7;
  width: 100%;
}

.navbar--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 18px 30px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  background-color: #f7f7f7;
}

.nav--header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.nav--title--link {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.menu--button {
  display: none;
}

.link--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.nav--link {
  text-decoration: none;
  color: #606470;
  font-size: 22px;
}

.nav--link:hover {
  color: #2470a0;
}

.home--container {
  margin-top: 80px;
  padding: 150px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.profile--image {
  border-radius: 50%;
}

.profile--details p {
  font-size: 50px;
  color: #2470a0;
  letter-spacing: 3px;
}

.profile--details h1 {
  font-family: fox;
  font-size: 100px;
  margin-top: 20px;
}

.profile--details h3 {
  font-size: 50px;
  color: #606470;
  letter-spacing: 10px;
}

.about--container {
  margin: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 340px;
}

.about--container h1 {
  font-size: 140px;
  font-family: fox;
}

.about--detail--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow--symbol {
  font-size: 200px;
  margin-right: 30px;
}

.about--container p {
  width: 1000px;
  font-size: 25px;
  color: #606470;
  text-align: right;
  padding: 30px;
  border-left: 3px solid #888;
}

.about--button {
  font-family: Sansation;
  font-size: 20px;
  width: 210px;
  height: 65px;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
}

.about--button:hover {
  background-color: #2470a0;
}

.download--link {
  text-decoration: none;
  color: white;
}

.projects--container {
  padding: 100px 340px;
}

.projects--container h1 {
  font-size: 135px;
  font-family: fox;
}

.project--cards--container {
  padding: 50px 0px;
  display: flex;
  overflow-x: scroll;
  gap: 50px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.project--detail-container {
  width: 300px;
  border: 2px solid #b4b4b8;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.project--detail-container:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}
.card--image {
  border-radius: 25px;
}

.card--heading {
  font-size: 28px;
  color: #606470;
}

.card--button button {
  color: white;
  background-color: black;
  font-family: Sansation;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}

.card--button button:hover {
  background-color: #2470a0;
}

.card--link {
  text-decoration: none;
  color: white;
}

.contact--container {
  margin: 90px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 340px;
}

.contact--container h1 {
  font-size: 135px;
  font-family: fox;
}

.contact--link--container {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contact--link {
  text-decoration: none;
  color: #888;
}

.link--icon {
  font-size: 70px;
}

.link--icon:hover {
  color: #2470a0;
}

@media (max-width: 1750px) {
  .about--container,
  .contact--container {
    padding-right: 0px;
    align-items: center;
  }

  .about--container p {
    text-align: center;
    border: none;
  }

  .arrow--symbol {
    display: none;
  }

  .projects--container {
    display: flex;
    flex-direction: column;
    padding: 100px 280px;
  }

  .projects--container h1 {
    text-align: center;
    font-size: 125px;
  }
}

@media (max-width: 1600px) {
  .projects--container {
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
  }
}

@media (max-width: 1400px) {
  .projects--container {
    display: flex;
    flex-direction: column;
    padding: 100px 120px;
  }

  .projects--container h1 {
    text-align: center;
    font-size: 115px;
  }
}

@media (max-width: 1000px) {
  .navbar--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1000;
  }

  .link--container {
    display: none;
  }

  .link--container.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1000;
    animation: slideDown 0.5s ease-in-out;
  }

  .menu--button {
    font-size: 35px;
    cursor: pointer;
    display: block;
  }

  .nav--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about--container h1 {
    font-size: 100px;
  }

  .about--container p {
    width: 800px;
    font-size: 20px;
  }

  .projects--container h1 {
    text-align: center;
    font-size: 90px;
  }

  .projects--container {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
  }

  .contact--container h1 {
    font-size: 100px;
  }

  .link--icon {
    font-size: 50px;
  }
}

@media (max-width: 750px) {
  .profile--image {
    width: 300px;
    height: 300px;
  }
  .profile--details p {
    font-size: 25px;
  }

  .profile--details h1 {
    font-size: 70px;
  }

  .profile--details h3 {
    font-size: 35px;
    color: #606470;
    letter-spacing: 10px;
  }

  .about--container p {
    width: 600px;
  }

  .projects--container {
    padding: 100px 20px;
  }
}

@media (max-width: 600px) {
  .profile--details h1 {
    font-size: 55px;
  }

  .profile--details h3 {
    font-size: 30px;
  }

  .projects--container h1 {
    font-size: 80px;
  }

  .about--container h1 {
    font-size: 80px;
  }

  .about--container p {
    width: 500px;
    font-size: 18px;
  }

  .contact--container h1 {
    font-size: 80px;
  }

  .link--icon {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .profile--details h1 {
    font-size: 50px;
  }

  .profile--details h3 {
    font-size: 25px;
  }

  .about--container h1 {
    font-size: 70px;
  }

  .about--container p {
    width: 400px;
    font-size: 16px;
  }

  .projects--container h1 {
    font-size: 65px;
  }

  .contact--container h1 {
    font-size: 70px;
  }
}
